<!-- Manage Books -->
<!-- <% //if (msg) { %>
    <script>
        alert("<%= //msg %>");
    </script>
<% //} msg = null; %> -->

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between">
            <h1 class="mb-0">Book Inventory Management</h1>
            <a href="#">Manage: Edit/Delete Books</a>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div>
            <table id="DT" class="table display" style="width: 100%;">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Cover</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Author</th>
                    <th class="text-center">Genre</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>

                    <% 
                        let count = 1 
                        books.forEach(book => {
                    %>

                    <tr>
                        <td class="align-middle"><%= count %></td>
                        <td class="align-middle">
                            <img src="<%= book.cover %>" alt="Image of <%= book.title %>" style="width: 100%; height: auto; max-width: 100px;">
                        </td>
                        <td class="align-middle">
                            <%= book.title %>
                        </td>
                        <td class="align-middle">
                            <%= book.author %>
                        </td>
                        <td class="align-middle">
                            <%= book.genre %>
                        </td>
                        <td class="align-middle">
                            <textarea class="form-control bg-secondary" style="height: 150px;"disabled >
                                <%= book.description %>
                            </textarea>
                        </td>
                        <td class="align-middle">
                            <% if(book.available === 0){ %>
                                <button  class="btn text-center bg-danger text-white" disabled>Unavailable</button>
                            <% } else if(book.available === 1){ %>
                            <button class="btn  text-center bg-success text-white" disabled>Available</button>
                            <% } else if(book.available === 2){ %>
                            <button class="btn text-center bg-info text-white" disabled>Coming soon!</button>
                            <% } %>
                        </td>
                        <td class="align-middle">
                            <a href="/edit/<%= book.id %>" title="Edit" class="text-warning me-4" style="font-size: larger;">
                                <i class="fa fa-edit"></i> 
                            </a>
                            <a href="#" title="Delete" class="text-danger delete" data-id="<%= book.id %>" style="font-size: larger;" >
                                <i class="fa fa-trash"></i> 
                            </a>
                        </td>
                    </tr>

                    <%
                        count++
                    });
                    %>
                  
                </tbody>
              </table>
          
        </div>
    </div>
</div>