           <!-- Stats -->
           
           <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-line fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Today Books Borrowed</p>
                            <h6 class="mb-0"><%= transactionData.length %></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sale & Revenue End -->


        <!-- Loan History -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h3 class="mb-0">Book Loan History</h3>
                    <a href="#">Showing All</a>
                </div>
                <div>
                    <table id="DT" class="table display" style="width: 100%;">
                        <thead>
                          <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Cover</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Author</th>
                            <th class="text-center">Genre</th>
                            <th class="text-center">Borrowed On</th>
                            <th class="text-center">Return Date</th>
                          </tr>
                        </thead>
                        <tbody>

                            <% 
                                let count = 1 
                                transactionData.forEach(txn => {
                            %>            
                                    <tr>
                                        <td class="align-middle"><%= count %></td>
                                        <td class="align-middle">
                                            <img src="<%= txn.book_cover %>" alt="Image of <%= txn.book_title %>" style="width: 100%; height: auto; max-width: 100px;">
                                        </td>
                                        <td class="align-middle">
                                            <%= txn.book_title %>
                                        </td>
                                        <td class="align-middle">
                                            <%= txn.book_author %>
                                        </td>
                                        <td class="align-middle">
                                            <%= txn.book_genre %>
                                        </td>
                                        <td class="align-middle">
                                            <%= txn.borrow_date %>
                                        </td>
                                        <td class="align-middle">
                                            <%= txn.return_date %>
                                        </td>
                                    </tr>

                            <%    
                            count++ });
                            %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        